.loginContainer
  padding 10px
  width 400px
  margin auto
  margin-top 50px
  border 1px solid gray
  text-align left
  background-image url("app/assets/images/profile_picture.png")
  background-size cover
